//  Workout Log
//  Amanda Matti 
//  Webbutveckling III
//  Mittuniversitetet 2018 

/* Color variables */

$corn:          #E2A300;
$candlelight:   #FFD521;
$swansdown:     #D9EEE9;
$jetstream:     #AAD2C9;
$greenhaze:     #67917B;





