//    * DT173G - Webbutveckling III 
//    * _colors.scss
//    * Mittuniversitetet 
//    * Amanda Matti, 2018 

/* Color variables */

$corn:          #E2A300;
$candlelight:   #FFD521;
$swansdown:     #D9EEE9;
$jetstream:     #AAD2C9;
$greenhaze:     #67917B;

$corn_light: lighten($corn, 10%);
$greenhaze_light: lighten($greenhaze, 10%);



