//    * DT173G - Webbutveckling III 
//    * _grids.scss
//    * Mittuniversitetet 
//    * Amanda Matti, 2018 


/* Grid layout */

* {
    box-sizing: border-box;
}

.col-1 {width: 100%; margin-top: 20px;}
.col-2 {width: 50%;}
.col-3 {width: 40%; }
.col-4 {width: 60%; }

[class*="col-"] {
    float: left;
    padding: 1%;
}