//    * DT173G - Webbutveckling III 
//    * Main CSS-file
//    * Mittuniversitetet 
//    * Amanda Matti, 2018 

// import scss-files
@import "colors";
@import "fonts";
@import "grid";
@import "reset";

/* Basics */
.container {
    background-color: $swansdown;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-family: $font_wl;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    color: $corn;
    margin-top: 60px;
}

h2 {
    font-family: $font_p;
    font-size: 1.2em;
    text-align: center;
    font-weight: 900;
}

.wl-text {
    font-family: $font_wl;
    color: $corn;
    font-size: 1.4em;
}

p {
    font-family: $font_p;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 1.8;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;   
    padding: 50px 0 10px 0;
    font-family: $font_p;
}

/* Register new activity */
#activityform {
    padding-top: 10px;
    display: block;

    * {
        box-sizing: border-box;
    }

    .col-4, .col-3 {
        height: 60px;
    }

    input[type=text] {
        width: 50%;
        height: 50px;
        padding-left: 20px;
        resize: vertical;
        font-family: $font_p;
        
    }

    input[type=date] {
        width: 50%;
        height: 50px;
        padding-left: 20px;
        resize: vertical;
        font-family: $font_p;
    }

    label {
        padding: 20px 0 12px 0;
        font-family: $font_p;
        float: right;
    }

    button {
        background-color: $greenhaze;
        height: 50px;
        color: white;
        width: 150px;
        display: block;
        font-family: $font_p;
        font-size: 1.1em;
    }

    button:hover {
        cursor: pointer;
        background-color: $greenhaze_light;
    }
}

/* Display activities in a table */
#workoutlist {
    font-family: $font_p;
    width: 80%;
    max-width: 960px;
    margin: 0px auto;

    button {
        background-color: $corn;
        height: 40px;
        width: 120px;
        color: white;
        display: block;
        font-family: $font_p;
        font-size: 1em;
    }

    button:hover {
        background-color: $corn_light;
        cursor: pointer;
    }

    th {
        height: 50px;
        vertical-align: middle;
        text-align: left;
        padding-left: 2%;
        background-color: $greenhaze;
        font-weight: 900;
        color: white;
    }

    td {
        width: 25%;
        height: 50px;
        vertical-align: middle;
        padding-left: 2%;
    }

    tr {
        background-color: $jetstream;
    }
    
}

@import "mediaqueries";