//    * DT173G - Webbutveckling III 
//    * Main CSS-file
//    * Mittuniversitetet 
//    * Amanda Matti, 2018 


@import "colors";
@import "fonts";
@import "grid";
@import "mediaqueries";
@import "reset";


.postform {
    border: 1px solid red;
}

/* Basics */
.container {
    background-color: $swansdown;
    width: 360px;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-family: $font_wl;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    color: $corn;
    margin-top: 60px;
}

h3 {
    font-family: $font_p;
    font-size: 1.2em;
}

.wl-text {
    font-family: $font_wl;
    color: $corn;
    font-size: 1.4em;
}

p {
    font-family: $font_p;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;   
    padding: 50px 0 10px 0;
    font-family: $font_p;
}

/* Login form */
#loginform {
    a:link {
        font-family: $font_p;
        font-size: 1.3em;
        display: block;
        max-width:  150px;
        margin: 0px auto;
        margin-top: 50px;
        color: black;
    }

    a:hover {
        background-color: $candlelight;   
    }

    a:visited {
        color: black;
    }

    input[type=text], input[type=password] {
        width: 100%;
        font-family: $font_p;
        height: 50px;
        margin-bottom: 10px;
        padding-left: 20px;
    }

    button {
        background-color: $greenhaze;
        height: 50px;
        color: white;
        width: 50%;
        display: block;
        margin: 0px auto;
        font-family: $font_p;
        font-size: 1.1em;
        margin-top: 30px;
    }
}

/* mypage.php */
/* Feelings */
label {
    input { 
        visibility: hidden; 
        position: absolute; 
    }

    input + i { 
        cursor:pointer;
        border:2px solid transparent;
    }

    input:checked + i {
        background-color: $candlelight;
        border-radius: 20px;
        padding: 5%;
    }
}

/* Register new activity */
#activityform {
    padding-top: 10px;
    display: block;

    * {
        box-sizing: border-box;
    }

    .col-4, .col-3 {
        height: 60px;
    }

    input[type=text] {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        resize: vertical;
        font-family: $font_p;
    }

    input[type=number] {
        width: 20%;
        height: 50px;
        padding-left: 20px;
        resize: vertical;
        font-family: $font_p;
    }
    
    label {
        padding: 20px 0 12px 0;
        display: inline-block;
        font-family: $font_p;
    }

    button {
        background-color: $greenhaze;
        height: 50px;
        color: white;
        width: 50%;
        display: block;
        margin: 0px auto;
        font-family: $font_p;
        font-size: 1.1em;
    }

    button:hover {
        cursor: pointer;
    }
}

/* Display activities in a table */
#workoutlist {
    border: 1px solid salmon;
    font-family: $font_p;
    width: 100%;
    text-align: left;

    button {
        background-color: $corn;
        height: 50px;
        color: white;
        display: block;
        margin: 0px auto;
        font-family: $font_p;
        font-size: 1em;
    }

    button:hover {
        background-color: black;
        cursor: pointer;
    }
}

/* Register new user 
#registerform {
    background-color: red;
} */



